<a href="https://colab.research.google.com/github/KarinAngela/Laboratorio-BigData/blob/main/Treinamento_de_limpeza_e_preparo_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importano a biblioteca a ser  usada
import pandas as pd 
import numpy as np

In [3]:
#Criando a sequencia de serie das notas de 0 a 10 

nota = pd.Series([11, 10, 9, 8, 7, 6, 5, 3, 2, 4, -1, 12, -5, 13, -10, -4, 8, 9, 11, 19, 18])
nota

0     11
1     10
2      9
3      8
4      7
5      6
6      5
7      3
8      2
9      4
10    -1
11    12
12    -5
13    13
14   -10
15    -4
16     8
17     9
18    11
19    19
20    18
dtype: int64

In [13]:
# Notas maiores que 10 
print('Notas maiores que 10')
print(nota [nota > 10])
print()

# Notas menores que 0
print('Notas menores que 0')
print(nota [nota < 0])

Notas maiores que 10
0     11
11    12
13    13
18    11
19    19
20    18
dtype: int64

Notas menores que 0
10    -1
12    -5
14   -10
15    -4
dtype: int64

In [35]:
#Ntas fora do intervalo sÃ£o discrepantes.Localizando as discrepantes e "elimando"
nota = nota.clip(lower=0, upper=10)
nota

0     10
1     10
2      9
3      8
4      7
5      6
6      5
7      3
8      2
9      4
10     0
11    10
12     0
13    10
14     0
15     0
16     8
17     9
18    10
19    10
20    10
dtype: int64